body {
	font-family: Verdana, sans-serif;
}

.error {
	float: right;
	color: red;
}

.success {
	float: right;
	color: green;
}

.box {
	position: fixed;
	margin-top: 15vh;
	display: inline-block;
	height: auto;
	width: auto;
	right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
	text-align: center;
}

.box form{
	padding-top: 5vh;
	padding-bottom: 5vh;
	padding-left: 1vw;
	padding-right: 1vw;


	margin: 0 auto;
}

.box img {
	max-width: 100%;
	max-height: 100%;
}

.regform {
	text-align: justify;
	margin-top: 5vh;
}

#header {
	position: fixed;
	margin-top: -3vh;
	width: 99vw;
	height: 8vh;
	background-color: #14ab26;
	font-family: Verdana, sans-serif;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}

#header p {
	color: #ff5a00;
	position: relative;
	margin-top: 3.5vh;

}

.overlay-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    cursor: pointer;
    z-index: 1000; /* high z-index */
    background: #000; /* fallback */
    background: rgba(0,0,0,0.75);
}

.overlay-ecoform {
    display: none;
    background: #fff;
    padding: 1%;
    width: 40%;
    position: absolute;
    top: 15%;
    left: 50%;
    margin: 0 0 0 -20%; /* add negative left margin for half the width to center the div */
    cursor: default;
    z-index: 10001;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.9);
}

a.boxclose{
    float:right;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;       
}

.boxclose:before {
    content: "×";

}