@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

html,
body {
	margin:0;
	padding: 0;
	font-family:  "open sans", sans-serif;
}

section.overlay {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.75);
    z-index:9999;
    color:white;
    visibility: hidden;
}

/* Ecological tags */
.tags {
    width: 100%;
    height: 10px;
    margin: 5px 0;
}

.tags > div {
    float: left;
    width: 20%;
    height: 10px;
}

.water {
    background-color: rgba(59, 136, 245, 1);
    color: #fff;
    text-shadow:1px 1px 2px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.electricity {
    background-color: rgba(245, 232, 59, 1);
    color: #fff;
    text-shadow:1px 1px 2px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.trash {
    background-color: rgba(170, 242, 82, 1);
    color: #fff;
    text-shadow:1px 1px 2px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.food-waste {
    background-color: rgba(154, 82, 242, 1);
    color: #fff;
    text-shadow:1px 1px 2px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.car-usage {
    background-color: rgba(242, 82, 90, 1);
    color: #fff;
    text-shadow:1px 1px 2px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

/* Post design */
.post {
    margin: 20px 0;
    color: #717171;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    padding: 5px 10px;
}

.post .content {
    max-height: 300px;
    overflow-x:auto;
}

.post .social-media-buttons {
    height: 30px;
}

.post .social-media-buttons button {
    float: left;
    margin: 0 5px;
}

.post .social-media-buttons button:hover {
    color: #005D51;
}

.post .social-media-buttons .likes {
    float: left;
    margin: 0 5px;
}

.post .social-media-buttons .comment-input input {
    margin: 0 10px;
    width: 300px;
}
.post .comments {
    color: #A1A1A1;
    max-height: 40px;
    overflow-x:auto;
}

.post .comment {
    height: 40px;
    width: 100%;
}

.post .comment h5 {
    float: left;
    margin-right: 5px;
    line-height: 0px;
}

.post .comment h4 {
    float: left;
    margin-right: 5px;
    line-height: 0px;
    
}

.post .comment h4:hover {
    color: #005D51;
}

.post .comment p {
    float: left;
    
}