@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

body {
	height: 100vh; /*Fully view heigh fill all the screen*/
	background-image: url("../images/backgroundlogin.png");
	background-size: cover; /*grow or shrink the image*/
	background-position: center center;
}

.important {
	position: relative;
	left: 900px;
	top:100px;
	width: 300px;
}

.title {
	float: left;
	font-size: 30px;
	font-weight: bold;
	margin-left: 20px;
	margin-right: 30px;
	margin-bottom: 20px;
	color: #005D51;
	font-family: 'Quicksand', sans-serif;
}

.login {
	float: left;
	width: 300px;
	height: 300px;
	padding:10px;
	background-color: #005D51;
	color:#F4F4F4;
	border-radius: 10px;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.3);

}

.login input {
	color: #717171;
}

.login button {
	display: block;
	margin: 30px 0;
	color: #717171;
}

.logo img {
	float: left;
	right: 100px;
	width: 70px;
	height: 90px;
}