section.news {
	position: relative;
	top:100px;
	height: 700px;
}

section.news .block {
	position: relative;
	width: 960px;
	height: 540px;
	margin-right: auto;
	margin-left: auto;
}

section.news .block > div {
	float: left;
	width: 300px;
	height: 250px;
	margin: 10px;
	border: 2px solid rgba(0,91,83,0.8);
	border-radius: 5px;
}

section.news .block > div:hover {
	text-shadow:2px 2px 4px rgba(0,0,0,1);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.7);
	cursor: pointer;

}

section.news .block > div figure {
	position: relative;
	margin:0;
}

section.news .block > div figcaption {
	position: absolute;
	left:0;
	bottom: 0;
	right: 0;
	background-color:rgba(0,91,83,0.8);
	color:#fff;
	padding:10px;
	font-size: 20px;
	font-weight: 100;
}

section.news .block > div img {
	width: 296px;
	height: 246px;
}

section.news .block > div img:hover{
	opacity: 0.8;
}