div {
	border-radius: 10px;
}

#header {
	z-index: 1;
	position: fixed;
	width: 97.5%;
	margin-top: -20px;
	height: 60px;
	background-color: green;
	margin-bottom: 10px;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

.images {
	max-width: 100%;
	max-height: 100%;
	border-radius: 20px;
	border: 2px solid green;
	opacity: 0.7;
}

.images:hover {
	opacity: 1.0;
}

.abs {
	width: 90vw;
}

.left {
	position: relative;
	float: left;
	margin-left: 20%;
	margin-top: 50px;
	width: 20vw;
	height: 30vh;
	margin-bottom: 1%;
}

.middle {
	position: relative;
	margin-left: 1%;
	float: left;
	margin-top: 50px;
	width: 20vw;
	height: 30vh;
	margin-bottom: 1%;
}

.right {
	position: relative;
	float: left;
	margin-left: 1%;
	margin-top: 50px;
	width: 20vw;
	height: 30vh;
	margin-bottom: 1%;
	clear: right;
}

.left h1 {
	position: float;
	text-align: center;
	margin-bottom: 3%;
}

#footer {
	position: relative;
	height: 50px;
	background-color: green;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 15px;
}